# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
env/

# PyInstaller
build/
dist/
*.spec

# Base de datos local
*.sqlite3
*.db

# Carpetas temporales
tmp/
temp/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db
